.user {
    font-size: large;
    font-family: cursive;
    font-style: inherit;
    color: #808088;
}

.card {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 15px;
    box-shadow: 4px 4px 1px 3px #888888;
}

label {
    font-size: 20px;
    font-family: cursive;
    font-style: inherit;
    color: #808088;
}